body {
  font-family: Lora, serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: Ubuntu, sans-serif;
}
/* Start of jumbotron styling */
.jumbotron {
  min-height: 90vh;
  background-image: url("./data/assets/img/joyful-lady.jpg");
  background-size: cover;
  background-repeat: repeat-x;
  display:flex;
  align-content:center;
  justify-items:center;
  align-items:center;
}
.form-rad {
  border-radius: 1rem;
}
/* .btn-no {
  border: none;
} */

@media screen and (max-width: 900px) {
  .jumbotron {
      min-height: 50vh;
  }
}
/* End of jumbotron styling */

/* start of how it works */
.works-p1 {
  font-size: 3rem;
  width: 60%;
  background-color: #fbb03a;
}
.works-p2 {
  font-size: 3rem;
  width: 60%;
  background-color: #ff6d2c;
}
.works-p3 {
  font-size: 3rem;
  width: 60%;
  background-color:#e7da2e;
}
.triangle-right1 {
width: 0;
height: 0;
border-top: 2.5rem solid transparent;
border-left: 5rem solid #fbb03a;
border-bottom: 2.5rem solid transparent;
}
.tx-orange {
  color:#fbb03a;
}
.tx-pink {
  color:#ff6d2c;
}
.tx-lemon {
  color:#e7da2e;
}
.triangle-right2 {
width: 0;
height: 0;
border-top: 2.5rem solid transparent;
border-left: 5rem solid #ff6d2c;
border-bottom: 2.5rem solid transparent;
}
.triangle-right3 {
width: 0;
height: 0;
border-top: 2.5rem solid transparent;
border-left: 5rem solid #e7da2e;
border-bottom: 2.5rem solid transparent;
}
.btn-grad {
  background-image: linear-gradient(to right, #ff6d2c, #9340ff);
}
/* end of how it works */

/*home page carousel style */
span.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

span.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* styling for products page display */

.bg-trans {
  /* background-image: linear-gradient(to right, #ff6d2c, #9340ff); */
  background-color: rgba(0, 0, 0, 0.4);
}